 <div id="wrapper" class="active">
      <div id="sidebar-wrapper">
	<ul id="sidebar_menu" class="sidebar-nav">
	  <li class="sidebar-brand">
	    <a id="menu-toggle" href="/home">Menu<span id="main_icon" class="main-align glyphicon glyphicon-home"></span></a>
	  </li>
	</ul>
	<ul class="sidebar-nav" id="sidebar">
	  <li><img src="/static/img/man.png"></li>
	  <li><h4>@john_doe</h4></li>
	  <li><a href="/retard"><span class="title-nav">Tendance retard</span></a></li>
      </ul></div>
      <div id="page-content-wrapper">
	<div class="page-content inset">
	  <div class="row">
	    <h1 style="text-align:center;">SHIFT - HAPPENS</h1>
	    <div class="col-md-8 list-box">
	      <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: FER</h2>
		</div>
		      <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>
	      </div>
	      <div class="box-maillon">
		<div class="led-box">
		  <div class="led-red"></div>
		  <h2>ID: PEI</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>
	      </div>
	      <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1HC1</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
	      <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1HC2</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1HC3</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1HC4</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1MV1</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1MV2</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1MV3</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: 1MV4</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    <div class="box-maillon">
		<div class="led-box">
		  <div class="led-green"></div>
		  <h2>ID: QCP</h2>
		</div>
 <a href="/shift"><button type="button" class="btn btn-secondary">Accéder à L'UEP</button></a>	      </div>
		    
	    </div>
	    <div class="col-md-4">
	      <section id="chat">
          <ul id="messages">
          </ul>
          <ul id="users">
          </ul>
        <form action="">
          <label>Message: </label><input id="m" autocomplete="off" class="input-lg"/></br>
          <label>User: </label><input id="user" autocomplete="off" class="input-lg"/>
          <button class="btn btn-secondary">Send</button>
        </form>
      </section>
	    </div>
	  </div>
	</div>
      </div>
    </div>

 <section id="login">
      <form action="">
        <label for="u">Username</label>
        <input id="u" autocomplete="off" autofocus />
        <p>
          <button>Login</button>
        </p>
      </form>
    </section>