<div id="wrapper" class="active">    
<div id="sidebar-wrapper">
	<ul id="sidebar_menu" class="sidebar-nav">
	  <li class="sidebar-brand">
	    <a id="menu-toggle" href="/home">Menu<span id="main_icon" class="main-align glyphicon glyphicon-home"></span></a>
	  </li>
	</ul>
	<ul class="sidebar-nav" id="sidebar">
	  <li><img src="static/img/man.png"></li>
	  <li><h4>@john_doe</h4></li>
	  <li><a href="/retard"><span class="title-nav">Tendance retard</span></a></li>
      </ul>
     </div>
      <div id="page-content-wrapper">
	<div class="page-content inset">
	  <div class="row">
	    <div class="col-md-6 list-box">
	      <div class="box-meteo">
		<h1>MÉTÉO</h1>
		      <iframe src="https://www.meteoblue.com/en/weather/widget/three?geoloc=detect&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups" style="width: 460px;height: 593px"></iframe><div><!-- DO NOT REMOVE THIS LINK --></div>
	      </div>
	      
	    </div>
	    <div class="col-md-4">
	      <p class="well lead">CHAT</p>
	      <p class="well lead">CHAT</p>
	      <p class="well lead">CHAT</p>
	    </div>
	  </div>
	</div>
      </div>
    </div>