<div id="wrapper" class="active">
      <div id="sidebar-wrapper">
	<ul id="sidebar_menu" class="sidebar-nav">
	  <li class="sidebar-brand">
	    <a id="menu-toggle" href="/home">Menu<span id="main_icon" class="main-align glyphicon glyphicon-home"></span></a>
	  </li>
	</ul>
	<ul class="sidebar-nav" id="sidebar">
	  <li><img src="static/img/man.png"></li>
	  <li><h4>@john_doe</h4></li>
	  <li><a href="/retard"><span class="title-nav">Tendance retard</span></a></li>
      </ul></div>
      <div id="page-content-wrapper">
	<div class="page-content inset">
	    <h1 style="text-align:center;">SHIFT - HAPPENS</h1>
	    <div class="col-md-12 list-box  shift-man">
                 <div class="col-md-2"><img class="min-shift" src="static/img/man.png"><p>PORTIÈRE</p>
                            <div class="led-box-man">
                                        <div class="led-green"></div>
		             </div>
                            </div>
                              <div class="col-md-2"><img class="min-shift" src="static/img/man.png"><p>RETROVISEUR</p>
                                   <div class="led-box-man">
                                        <div class="led-green"></div>
		                  </div>
                              </div>
                              <div class="col-md-2"><img class="min-shift" src="static/img/man.png"><p>CAPOT</p>
                                    <div class="led-box-man">
                                        <div class="led-red"></div>
		                  </div>
                                   <i>10 min</i>
                              </div>
                              <div class="col-md-2"><img class="min-shift" src="static/img/man.png"><p>COFFRE</p>
                                    <div class="led-box-man">
                                        <div class="led-green"></div>
		                  </div>
                              </div>
                              <div class="col-md-2"><img class="min-shift" src="static/img/man.png"><p>PLANCHÉ</p>
                                    <div class="led-box-man">
                                        <div class="led-green"></div>
		                  </div>
                              </div>
                              <div class="col-md-2"><img class="min-shift" src="static/img/man.png"><p>ROUE</p>
                                    <div class="led-box-man">
                                        <div class="led-green"></div>
		                  </div>
                              </div>
               <div class="col-md-4">
	      
	    </div>
	  </div>
      </div>
    </div>
</div>